Package: doit
Version: __version__
Section: utils
Priority: optional
Architecture: __arch__
Installed-Size: __size__
Depends: bash, mailx
Replaces: ruckusrd (<< 0.18.0-1)
#Breaks: ruckusrd (<< 0.18.0-1)
Maintainer: Michael D Labriola <veggiemike@sourceruckus.org>
Homepage: https://github.com/sourceruckus/doit
Description: Doit - fire-and-forget script mailer
 Doit executes a command in the background and mails its output and
 exit status to a specified account.  It can also log to a file
 locally instead of mailing, if that's what floats your boat.
